.list-item {
  cursor: pointer;
  border-radius: 3px;
}

.list-item:hover {
  background-color: #eee;
}

@media screen and (min-width: 568px) {
  .list-item {
    min-width: 200px;
  }
}

@media screen and (max-width: 568px) {
  .list {
    display: flex;
    overflow: auto;
  }
}
